.page{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
main {
  display: flex;
  justify-content: center;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
li {
  display: flex;
  flex-direction: column;
  /* gap: 0.4rem; */
  align-items: center;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #111;
  /* color: #fff; */
  padding: 1rem;
}
h3{
  margin: 0;
}
p{
  text-align: center;
}
.card-icon {
  /* border-radius: 50%; */
  /* background: lightblue; */
  width: 25%;
  height: 25%;
  aspect-ratio: 16/9;
  display: block;
  object-fit: cover;
}